<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">

<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="payments.scss"
 -->


  </head>

  <body>
    <div id="navbar-container">
      <div class="navbar-items">

         <%= link_to 'Properties', properties_path %>
        <% if signed_in? %>

          <p class='navbar-link'><%= current_user.email %></p>
          <%= link_to 'My Account', user_path(current_user), :class => 'navbar-link' %>
          <%= image_tag current_user.avatar_url(:thumb).to_s, :class => 'profile-pic-thumb'%>
 <!--                <%= current_user.email %> -->

      <%= link_to 'Sign out', sign_out_path, method: :delete %>
      <%= link_to 'New Property Listing', new_property_path %>


        <% else %>

          <%= link_to 'Sign In', sign_in_path  %>



        <% end %>

      </div>
    </div>

    <div id="spacer"></div>

    <%= yield %>
  </body>
</html>
