<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>



    
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">


    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>



<!--     Datepicker stylesheets -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">



  </head>

  <body>
    <div id="navbar-container">
      <div id="navbar-content">
        <div class="logo-site-name-container">

          <img class='navbar-logo' src = '/logo6.png' />

          <h2 id="sitename"><a href="/">Liam<strong>BNB</strong></a></h2>

        </div>
<!-- 
        <div class="navbar-divider"></div> -->

        <div class="empty-box"></div>

        <div class="navbar-items">

          <div class="navbar-divider"></div>

          <% if signed_in? %>


            <%= image_tag current_user.avatar_url(:thumb).to_s, :class => 'profile-pic-thumb'%>
   <!--          <p class='username'><%= current_user.email %></p> -->
            <%= link_to 'My Account', user_path(current_user), :class => 'navbar-link' %>



           <div class="navbar-divider"></div>


                  <img class="navbar-icon" src='/property.png' />
                  
                  <%= link_to 'New Property Listing', new_property_path, :class => 'navbar-link' %>

           <div class="navbar-divider"></div>
            
   <!--                <%= current_user.email %> -->

                <img class="navbar-icon" id="sign-out-large" src='/sign_out.png' />

                <%= link_to 'Sign out', sign_out_path, :class => 'navbar-link', method: :delete %>

            <div class="navbar-divider"></div>


          <% else %>



                  <img class="navbar-icon" src='/property.png' />
                  
                  <%= link_to 'New Property Listing', sign_in_path, :class => 'navbar-link' %>



            <div class="navbar-divider"></div>


            <img class="navbar-icon" id="sign-out-large" src='/sign_in.png' />

            <%= link_to 'SIGN IN', sign_in_path, :class => 'navbar-link'  %>

          <% end %>

        </div>

        <div id="mobile-dropdown-button-container">

          <div class="mobile-dropdown-button"></div>
          <div class="mobile-dropdown-button"></div>
          <div class="mobile-dropdown-button"></div>


        </div>


      </div>

    </div>

<!--     <div id="spacer"></div> -->

<!-- DROPDOWN MENU BELOW -->

    <div id="nav-dropdown" class="mobile-dropdown-navbar">

        <div class="filler"></div>

      <% if signed_in? %>



        <div id="account-items-container">
          
          <%= image_tag current_user.avatar_url(:thumb).to_s, :class => 'profile-pic-thumb-dropdown'%>
 <!--          <p class='username'><%= current_user.email %></p> -->
          <%= link_to 'My Account', user_path(current_user), :class => 'my-account-link' %>
          <p class="username-dropdown"> Signed in as <strong><%= current_user.email %> </strong></p>

        </div>

<!--         <div class="horizontal-divider"></div> -->
<!--           <img class="navbar-icon" src='/property.png' /> -->

        <div class="dropdown-items-container">

          <img class="navbar-dropdown-icon" src='/property.png' />

          <%= link_to 'New Property Listing', new_property_path, :class => 'nav-dropdown-link' %>

        </div>
<!--         <div class="horizontal-divider"></div> -->

        <div class="dropdown-items-container">

          <img class="navbar-dropdown-icon" id="sign-out" src='/sign_out.png' />

          <%= link_to 'Sign out', sign_out_path, :class => 'nav-dropdown-link', method: :delete %>

        </div>
<!--     
          <div class="filler"></div>
          <div class="bottom-border"></div>
          <div class="bottom-border"></div>
          <div class="bottom-border"></div>
          <div class="bottom-border"></div> -->

          <% else %>

          <div class="filler"></div>

          <div class="dropdown-items-container">

            <img class="navbar-dropdown-icon" src='/sign_in.png' />

            <%= link_to 'SIGN IN', sign_in_path, :class => 'nav-dropdown-link'  %>

          </div>

          <div class="dropdown-items-container">

            <img class="navbar-dropdown-icon" src='/property.png' />

            <%= link_to 'New Property Listing', sign_in_path, :class => 'nav-dropdown-link' %>

          </div>





      <% end %>





<!--           <div id="horizontal-divider"></div> -->
    </div>




   <!--  mobile dropdown script below -->




    <div class="filler"></div>
    <div id="filler-mobile"></div>


    <%= yield %>





  </body>
</html>
